@page
@model blog_e17.Pages.User.IndexModel
@{
}

<div>
	First Name: @Model.currentUser.FirstName
</div>

<div>
	Last Name: @Model.currentUser.LastName
</div>

<div>
	Email: @Model.currentUser.Email
</div>